
    <div class="topnav">
 
        
        <a href="/dashbord/dashbord">Home Page</a>
        <a href="/AddBooks/addbooks">AddBooks</a>
        <a href="/AddBooks/IT">IT BOOKS</a>
        <a href="/AddBooks/ENG">ENG BOOKS </a>
        <a href="/users/logout">logout</a>

        <!-- <a href="/upload/firas">show files</a>
        <a href="/upload/test">upload files</a>
        <a href="/upload/download">download files</a> -->


        <a href="/images/images">show images</a> 
        <a href="/images/upload">upload images</a>
        <!-- <a href="/upload/download">download files</a> -->
        
      </div>
