<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

   



   
 

    
  <% test.forEach(function(hi) { %>

    
    <p>
        <%= hi.Key %>
        <!-- <img src="/images/images/<%= hi.Key %>"> -->
        <a    href="/images/images/<%= hi.Key %>">show image</a>
    </p>

    <% }) %> 


   
  

</body>
</html>