
<!DOCTYPE html>
<html>
<head>
	<title>Slide Navbar</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="container">  	
		

			
				<form class="form-1" action="/users/register" method="POST">
					
							<h1>Register</h1>

                
                    <input type="number" id="IDnumber" name="IDnumber" required placeholder="IDnumber"><i class="validation"><span></span><span></span></i>
					<!-- <img src="/images/Vector.png" width="30px"  /> -->
                   
                    <input type="text" id="username" name="username" required placeholder="username"><i class="validation"><span></span><span></span></i>
					<!-- <img src="/images/fa6-solid_id-card.jpg" width="30px"  /> -->
					
                    <input type="password" id="password" name="password" required placeholder="password"><i class="validation"><span></span><span></span></i>
						
					<!-- <img src="/images/fa-solid_lock.png" width="30px"  /> -->
                    
                    <input type="password" id="password2" name="password2" required placeholder="reEnterPassword"><i class="validation"><span></span><span></span></i>
					<!-- <img src="/images/fa-solid_lock.png" width="30px"  /> -->

                    <button>Sign Up</button>
                      
                    <!-- <button id="login">Sign up</button> -->
					<!-- <input type="submit" id="login" value="Login"> -->
					<div id="create-account-wrap">
						<p> Have a account? <a href="/users/loginpage">Login</a></a><p>
					  </div>
                    
				</form>
			

  
</body>
<%- include('./partials/footer') %> 
</html>


